<ion-content>

  <img src="assets/img/Bigblue.png" class="circleImageBigblue">

<div>
  <img src="assets/img/Mediumgreen.png" class="Mediumgreen">
</div>
<div>
  <h2 (click)="gotoHome()" class="createaccount">Create Account</h2><b class="arrow">></b>

</div>
<div>
  <img src="assets/img/Logo.png" class="logo">
</div>
<h2 class="solace">Solace</h2>
<h2 class="mood">Enliven your mood</h2>
<div>
  <img src="assets/img/Smallblue.png" class="Smallblue">
  <h2 class="signin">Sign In</h2>
</div>
  <div class="divpadding">
    <ion-item  class="phonenumber" lines="none">
      <ion-input placeholder="  Phone Number" class="custom-input" ><ion-icon class="icon" name="person-outline">  </ion-icon></ion-input>
    </ion-item> 
  </div>
  <div class="divpadding">
    <ion-item  class="phonenumber" lines="none">
      <ion-input class="custom-input" placeholder="  Password" ><ion-icon class="icon" name="lock-open-outline">  </ion-icon></ion-input>
    </ion-item> 
  </div>
  <div>
    <h2 class="forgot-password">Forgot Password?</h2>
    <div>
      <ion-button (click)="gotoHome()" class="login-button"><b class="login-font">Login</b></ion-button>
    </div>
  </div>
</ion-content>
